.container.lesson
  .row
    .col-xs-12.text-center
      %h1 Sedimentary Rock

    .col-sm-10.col-sm-offset-1
      %p
        Sedimentary Rock covers 75% of the Earth, but makes up only 5% of the crust.

      %p
        Since sedimentary rock covers so much of the surface of the Earth, most
        of us will encounter it almost on a daily basis. There was a time when
        people saw all the various rocks, but they were not interested in how
        they were made or how old they were. Those that did have an interest in
        rocks did not always use proper scientific methods to understand them.

      %p
        The last great teacher of the old fashion geology was Abraham Werner.
        Werner believed that physical features such as mountains and valley
        were formed by sudden spectacular events called #{bold('Catastrophes')}.
        During Werner's time, no one tried to explain how land forms came about
        — except to say that mysterious forces within the Earth produces them.

      %p
        A few people began to doubt Werner's teachings. One of these was a
        Scottish physician and farmer by the name of James Hutton. Hutton
        observed the action of streams that ran through valleys and saw that
        running water moved dirt and pebbles down stream. He believed rivers cut
        into the rocks of the hills and made valleys.

      %p
        Hutton stated, "The Present Is The Key To The Past.""

      %p
        Observe what geologic processes are happening today: they are the same
        ones that occurred in past years. This is known as the Principle of
        Uniformitarianism.

      %p There are 3 sources of Sedimentary Rocks
      %ol
        %li #{bold('Clastics')}: made up of fragments from other rocks.
        %li #{bold('Chemical')}: grains formed from evaporation, precipitation. or a chemical reaction.
        %li #{bold('Organic')}: formed from the remains of plants and animals.

  .col-xs-12.text-center
    %h2 Clastics

  .col-sm-10.col-sm-offset-1
    %p
      Clastic grains are broken off other rocks and then transported to a new
      environment. The transporting agent can be:
      %ul
        %li Wind
        %li Water
        %li Gravity

    %p
      I think that we all have seen wind blowing dust or a muddy stream or
      river. Fragments of rock are being transported. If the water is flowing
      fast enough, larger fragments like sand and gravel are transported. In a
      desert we have large sand storms transporting the fragments of rock. But
      some of us might not be sure how gravity transports rock. You might see a
      landslide along a highway or a large rock coming down the side of a hill
      or mountain. What made them come down -- gravity.
    %p
      Most of the rocks that are transported are not large rocks but smaller
      fragments that broke off the bigger rocks. How did the fragments break off
      the larger rock?
    %p
      We will look at the factors that determine how these fragments are made.

    .row
      .col-sm-4= illustration('sedimentary_rock/conglomerate.jpg', 'Conglomerate: gravel-sized grains')
      .col-sm-4= illustration('sedimentary_rock/sandstone.jpg', 'Sandstone: made of sand')
      .col-sm-4= illustration('sedimentary_rock/shale-with-fossils.jpg', 'Shale with Fossils: made of fine grains')

    %p
      Factors that determine how fast rocks weather:
      %ol
        %li Kind of Rock
        %li Climate
        %li Cracks in the rock

    %p
      The rocks that make fragments are the rocks that are exposed to weather.
      Some rocks can withstand the weather better than others. So we must
      consider the rock type. Granite for example is extremely hard. You can
      beat on it with a hammer and find it difficult to break off a piece. But
      on the other hand, doing the same thing to sandstone will give you lots
      of little pieces. This is why we use granite for tombstones -- it does
      not weather fast.

    %p
      The fragments are held together by a cementing agent. This cementing
      agent is usually the mineral quartz or calcite. Calcite is easily
      dissolved by acid. In nature it is a mild acid called carbonic acid
      (rain).

    %p
      Climate has a lot to do with how fast a rock weathers. If the weather
      conditions don't change, the rock is less likely to weather fast. If the
      climate is rainy, rocks will weather faster. If the climate is season,
      weathering is also faster.

    %p
      Cracks in rocks permit water to get into the rock. If the temperature
      goes down to freezing at night, the water will freeze. Freezing water
      expands. This is like driving a wedge into the rock. If this happens
      night after night, the rock will break. This is how potholes in the roads
      are made.

  .col-xs-12.text-center
    %h2 Non-Clastics

  .col-sm-10.col-sm-offset-1
    %p
      Nonclastics are formed by chemical and organic processes.

    %p
      Evaporates are formed by the evaporation of water

    %p
      Example: halite (salt), gypsum (the white stuff in drywall)
    .row
      .col-sm-4.col-sm-offset-4= illustration('sedimentary_rock/gypsum.jpg', 'Gypsum')

    %p
      Under lake Erie there is a hugh deposit of salt from a previous lake that
      evaporated.

    %p
      Rocks will decompose; this happens mostly in tropical areas
    %p Rain + CO#{sub2} → Carbonic Acid (H#{sub2}O#{sub3})

    %p
      When rain mixes with carbon dioxide in the atmosphere, it makes a weak
      acid called carbonic acid. All rain is a mild acid. This should not be
      confused with what we call Acid Rain (which is a stronger acid).
    %p
      Carbonic acid will decay rocks: Granite changes to Clay

    %p
      Limestone is mainly composed of the dead remains of sea creatures. The
      bones of fish and shells from mollusks  are the main ingredients.

  .col-xs-12.text-center
    %h2 Coal

  .col-sm-10.col-sm-offset-1
    %p
      Peat → Lignite → Bituminous Coal → Anthracite Coal
    %p
      Coal starts out as trees and ferns in swamps. When they die, they are
      covered by water. They don't decay the normal way. No insects to help
      out. As more and more pile up the material is compressed. The material is
      all organic. Made up of carbon, hydrogen and oxygen. The first step in
      the formation of coal is Peat. When this is compressed more it forms
      Lignite. This material is now mainly carbon and hydrogen. It will burn
      but does not produce must heat. Under further pressure the Lignite is
      Changed to Bituminous coal. This is the first true coal. It burns much
      better than pollutant. When the sulfur combines with rain water it forms
      sulfuric acid. This is what we call Acid Rain. If the bituminous coal
      undergoes more pressure and is baked from the heat from magma, it changes
      into Anthracite Coal. This is a clean burning coal with lots of heat and
      very little air pollution. It is found in mountainous regions.

    .row
      .col-sm-4.col-sm-offset-4= illustration('sedimentary_rock/anthracite-coal.jpg', 'Anthracite Coal')

    %h3 Special Sedimentary Features

    %p
      #{bold('Strata')}: This what each different layer of rock is called.

    %p
      #{bold('Bedding Planes')}: the division which separates the individual
      layers (strata)

    %p
      #{bold('Ripple Marks')}: Found in bedding planes; marks left in the sand
      or mud by wind or water (waves).

    %p
      #{bold('Geodes')}: Round cavities lined with crystals of quartz or
      calcite.
    .row
      .col-sm-4.col-sm-offset-4= illustration('sedimentary_rock/geodes.jpg', 'Geodes')

    %p
      #{bold('Fossils')}: any record of past life; most abundant in limestone.
      .row
        .col-sm-4.col-sm-offset-2= illustration('sedimentary_rock/fossils.jpg', 'Fish Fossil')
        .col-sm-4= illustration('sedimentary_rock/fossils-2.jpg', 'Nautilus Fossil')


  .col-xs-12.text-center
    %h2 Sorting

  .col-sm-10.col-sm-offset-1
    %p
      Sorting is separating. It's like sorting the laundry. Putting different
      colors into different piles. Flowing water will do the same thing. When
      the water is flowing fast, it carries all sizes of rock fragments. But
      when the water slows, it can not carry the heavier rocks. So they are
      dropped or deposited. As the water continues to slow, more and more rocks
      are deposited. The smallest material is deposited last. More and more
      material is deposited. The material piles up. The first material
      deposited is compressed and eventually turned into rock. the drawing
      below shows how all this is done.

    = illustration('sedimentary_rock/sorting.png', 'Sorting Figure')

    %p
      The grains are deposited based on their size and density.

    %p
      During burial of the sediment, the loose material is consolidated by
      pressure and a cementing agent such as Calcite or Quartz. This is called
      Lithification.

    .row
      .col-sm-4.col-sm-offset-2= illustration('sedimentary_rock/calcite.jpg', 'Calcite')
      .col-sm-4= illustration('sedimentary_rock/quartz.jpg', 'Quartz')

    %p
      When clastic rocks form there are air spaces between the grains called
      Pores.
    .row
      .col-sm-6.col-sm-offset-3= illustration('sedimentary_rock/pores.png', 'Pores')
    %p
      The smaller the grains, the smaller the pores.

    %p
      Porous rock can contain water. This type of rock is called an Aquifer.

    %p
      #{bold('Permeable Rock')}: water can pass through it.
      %br
      #{bold('Impermeable Rock')}: water can not pass through it.

    %p
      Artesian wells are wells that are drilled into solid rock. The sandstone
      (permeable) is sandwiched between two layers of impermeable rock(shale).
      Water enters the rock from miles away. As  the water travels through the
      rock, it is purified and it is put under pressure. When you drill into
      the rock, you generally don't need a pump to get the water to the
      surface. Since the water is under pressure, the pressure forces it to the
      surface.
    = illustration('sedimentary_rock/artesian-wells.png', 'Artesian Well')

    %h2 Symbols for rocks
    %p
      When making geologic drawings, we use symbols to indicate the kind of
      rock that it is.
    .row
      .col-sm-6.col-sm-offset-3= illustration('sedimentary_rock/rock-symbols.png', 'Rock Symbols')

    %p
      It was mentioned earlier that people that were interested in rocks did
      not use scientific methods to understand them. For one thing, there
      weren't scientific principles for use in geology. Listed below are some
      simple but important principles that have been developed.

    %p
      #{bold('Principle of Superposition')}: the oldest rocks are found in the
      lowest strata; we number the strata from the oldest to the youngest. The
      lower the number, the older the rock.
    .row
      .col-sm-6.col-sm-offset-3= illustration('sedimentary_rock/superposition.png', 'Super Position')

    %p
      #{bold('Fossil Correlation')}: the various strata can be identified by
      the fossils that they contain.
    %p
      Rock layers can be hundreds of miles long. If the strata is of the same
      age, it will have the same type of fossils in it. If a layer of sandstone
      form from the sand found on a beach, it is not likely to have fossils of
      clams and camels in the same strata.

    .row
      .col-sm-6.col-sm-offset-3= illustration('sedimentary_rock/fossil-correlation.png', 'Fossil Correlation')
      .col-sm-6.col-sm-offset-3= illustration('sedimentary_rock/fossil-correlation-2.png', 'Fossil Correlation')

    %p
      Maybe you can see why Fossil Correlation is important. In the drawing
      above, the rocks have been eroded. The center section has been eroded
      away. If we try to match the rock strata on the left with the rock strata
      on the right, do they all match up ? The rock type do but not the
      fossils. Look at the 3rd layer from the top. They have two different
      types of fossils. Therefore they are not of the same age. They did not
      form at the same time.

    %h2 Caverns
    .row
      .col-sm-6.col-sm-offset-3= illustration('sedimentary_rock/caverns.png', 'Caverns')
    %p
      Limestone is a rock type that dissolves easier then most rocks. Rain
      water is slightly acid(carbonic acid). Dissolving the calcite in the
      limestone creates air pockets. If the limestone has cracks in it, the
      water can make its way to great depts. As the water makes it way through
      the limestone, the carbonic acid slowly dissolves the limestone and
      carries ions away in solution. After thousands of years, the cracks
      between beds become so large that they form networks of underground
      tunnels, sometimes hundreds of miles long

    %h2 Karst Topography
    .row
      .col-sm-6.col-sm-offset-3= illustration('sedimentary_rock/karst-topography.png', 'Karst Topography')

    %p
      In limestone regions, most of the water sinks into the ground through
      cracks and sinkholes. These regions generally have few surface rivers.
      Lost rivers are formed when surface rivers disappear underground and flow
      out of caves many miles away. Regions that contain many sinkholes,
      sinkhole ponds, lost rivers, underground drainage, and natural bridges
      are said to have Karst Topography. A sinkhole is nothing more than a
      cavern that has collapsed.

    %h2 Geyser
    .row
      .col-sm-6.col-sm-offset-3= illustration('sedimentary_rock/geyser.png', 'Geyser')
    %p
      Geysers are boiling hot springs that occasionally erupts. The geyser's
      tubes have a lot of narrow tubes. They act as though they are blocking
      the flow of water upward. Because of the constriction, the water at the
      bottom of a geyser's tube is under pressure. The water becomes
      superheated to a temperature above the boiling point. But due to the
      pressure the superheated water can not turn to steam. Finally the water
      becomes so hot that it overcomes the pressure and turns to steam. When
      this happens, the steam forces some of the water up to the surface. The
      pressure at the bottom of the tube is relieved, and the superheated water
      explodes into steam. The steam blows out the water above it.
